[submodule "semubot_eyes"]
	path = semubot_eyes
	url = https://github.com/SemuBot/semubot_eyes.git
[submodule "respeaker_ros"]
	path = respeaker_ros
	url = https://github.com/SemuBot/respeaker_ros.git
[submodule "audio_test"]
	path = audio_test
	url = https://github.com/timniz/audio_test.git
